body {
    margin: 0;
    padding: 0;
    background-color: #EBE79D;
}

.masthead {
    padding: 1em 2em;
    background-color: #6B6825;
    color: #fff;
}

.masthead h1 {
    text-align: center;
}

.intro {
    padding: 2em 2em;
    color: #333;
    background: #B8B57B;
}


.intro p,
.test-area {
    margin: 0 auto;
    max-width: 550px;
}

.test-area {
    margin-bottom: 4em;
    padding: 0 2em;
}

.test-wrapper {
    border: 10px solid grey;
    border-radius: 10px;
}

#origin-text {
    padding: 1em 1em 0;
    background-color: #EBE79D;
    font-size: 1.3em;
}

#origin-text p {
    margin: 0;
    padding-bottom: 1em;
    font-weight: bold;   
}

.test-wrapper {
    display: flex;
}

.test-wrapper textarea {
    flex: 1;
}

.meta {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.timer {
    font-size: 3em;
    font-weight: bold;
}

#reset {
    padding: .5em 1em;
    font-size: 1.7em;
    font-weight: bold;
    color: #38AFFF;
    background: white ;
    border: 10px solid #38AFFF;
}

#reset:hover {
    color: white;
    background-color: #38AFFF;
}
